In [1]:
# Import libraries
import pandas as pd
import numpy as np

# Question 1

What's the version of Pandas that you installed?

In [2]:
pd.__version__

'2.0.3'

# Getting the data

For this homework, we'll use the California Housing Prices dataset.

You can do it with wget:

In [3]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

--2023-09-11 22:23:26--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1423529 (1.4M) [text/plain]
Saving to: ‘housing.csv’

housing.csv         100%[===================>]   1.36M  4.09MB/s    in 0.3s

2023-09-11 22:23:27 (4.09 MB/s) - ‘housing.csv’ saved [1423529/1423529]

In [4]:
!ls

Homework.ipynb	housing.csv

In [5]:
FILE_NAME = 'housing.csv'

In [6]:
df = pd.read_csv(FILE_NAME)
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

# Question 2

How many columns are in the dataset?
- 10
- 6560
- 10989
- 20640

In [7]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

# Question 3

Which columns in the dataset have missing values?
- total_rooms
- total_bedrooms
- both of the above
- no empty columns in the dataset

In [25]:
df.isnull().any(axis=0)

longitude             False
latitude              False
housing_median_age    False
total_rooms           False
total_bedrooms         True
population            False
households            False
median_income         False
median_house_value    False
ocean_proximity       False
dtype: bool

#      Question 4

How many unique values does the ocean_proximity column have?
- 3
- 5
- 7
- 9

In [34]:
df.ocean_proximity.nunique()

5

# Question 5

What's the average value of the median_house_value for the houses located near the bay?
- 49433
- 124805
- 259212
- 380440

In [41]:
df[df.ocean_proximity=='NEAR BAY'].median_house_value.mean()

259212.31179039303

# Question 6

- Calculate the average of total_bedrooms column in the dataset.
- Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
- Now, calculate the average of total_bedrooms again.

Has it changed?

Has it changed?
- Yes
- No

In [44]:
print(df.total_bedrooms.mean())
df.total_bedrooms.fillna(df.total_bedrooms.mean())
print(df.total_bedrooms.fillna(df.total_bedrooms.mean()).mean())

537.8705525375618
537.8705525375617